.emoji {
    display: inline-block;

    //teacher-man
    &.emoji-teacher-man {
        @include uploadRespEmoji(teacher-man);
    }

    //video
    &.emoji-video {
        @include uploadRespEmoji(video);
    }

    //teen-girl
    &.emoji-teen-girl {
        @include uploadRespEmoji(teen-girl);
    }

    //clocks
    &.emoji-clocks {
        @include uploadRespEmoji(clocks);
    }

    //inlove
    &.emoji-inlove {
        @include uploadRespEmoji(inlove);
    }

    //laptop
    &.emoji-laptop {
        @include uploadRespEmoji(laptop);
    }

    //spoke
    &.emoji-spoke {
        @include uploadRespEmoji(spoke);
    }
    
}

.emoji--only-desktop {
    display: none;

    @include responsive(desktop) {
        display: inline-block;
    }
}

.emoji--only-mobile {
    display: none;

    @include responsive(mobile) {
        display: inline-block;
    }
}
