// Header styles
.header {
    padding-top: 18px;
    padding-bottom: 19px;

    @include responsive(desktop) {
        padding-top: 53px;
        padding-bottom: 40px;
    }

    &__logo {
        display: inline-block;
        @include coverImage(131px, 16px);

        @include responsive(desktop) {
            @include coverImage(238px, 28px);
        }

    }
}