// Section title styles
.section-title {
    @include responsive(mobile) {
        margin-bottom: -8px;
    }

    h2 {
        font-weight: normal;
        font-size: 32px;
        line-height: 100%;
        letter-spacing: -0.1px;
        font-feature-settings: 'pnum' on, 'lnum' on;

        @include responsive(desktop) {
            font-size: 64px;
        }
    }
}